---
import '@/styles/global.css';
import AuthModal from '@/components/AuthModal/AuthModal';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'ITK SHOP',
  description = 'Интернет-магазин воды и оборудования для водоснабжения',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:type" content="website" />
  </head>
  <body>
    <slot />
    <AuthModal client:load />
  </body>
</html>

<script>
  import '@/scripts/cart-bus';
  import '@/scripts/favorites-bus';
  import '@/scripts/compare-bus';
</script>